.hero{
    position: relative;
    min-height: 90vh;
    width:calc(100% );
    
    .slickCarousel{
        
        overflow: hidden;
        .slick-dots {
            bottom:15%;
             li button:before{
                 color:#d8d8d8;
                 font-size:1rem;
                 opacity: 1;
             }
             li.slick-active button:before{
                 color:#fb4226;
             }
        }
    }
    &__item{
        position: relative;
        padding-top: 60px;
        max-height: 100vh;
        width:100%;
        display:grid;
        overflow: hidden;
        img{
            height:100%;
            
            
            object-fit: cover;
        }
    }
    .backgroundLinear{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:linear-gradient(to top,#000,transparent 20%);
    
        display:flex;
        justify-content: center;
        align-items: center;
    
        button{
            border:2px solid white;
            background:transparent;
            height:5rem;
            width:5rem;
            font-size:2rem;
            color:white;
            border-radius: 50%;
            background:rgba(0,0,0,0.5);
            opacity: 0;
            transition:all 0.2s linear;
        }
        &:hover button{
            opacity: 1;
        }
        &:hover button:hover{
            opacity: 0.7;
        }
    }
    
}