.ungDung{
    
    background:url('../../../../assets/images/backapp.jpg');
    color:white;
    &__container{
        width:90%;
        margin:auto;
        min-height: 95vh;
        
        padding:7.5rem 0 5rem;
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        &--left{
            
            h1{
                font-size:1.5rem;
            }
            span{
                display:block;
                margin:0.75rem 0;
                a{
                    color:white;
                    text-decoration: underline;
                }
            }
        }

        &--right{
            margin-top:2rem;
            
            .ungDungCarousel{
                margin:auto;
                padding:5px;
                width: 205px;
                background-image: url('../../../../assets/images/mobile.png');
                background-repeat: none;
                background-size:contain;
                background-clip: padding-box;
                overflow: hidden;
                // border-radius:28px;
                img{
                    
                    width:195px;
                    object-fit: cover;
                    border-radius:28px;
                    outline:none;
                }
            }
        }
    }
}
@media only screen and (min-width: 993px) {
    .ungDung {
        &__container{
            width:70%;
            margin:auto;
        }
        &__container--left{
            h1{
                font-size:2rem;
            }
            p{
                margin-bottom:0.75rem;
            }
        }
        &__container--right{
            margin-top:0;
        }
    }
  }