.dangNhap {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  img {
    width: 100%;
    margin-bottom:1rem;
  }
  button {
    width: 100%;
    margin: 0.5rem 0;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
  }
}
.show {
  opacity: 1;
  pointer-events: all;
}
