.section {
  .AboutWrapper__content {
    display: grid;
    gap: 2rem;
  }
  p {
    color: #324d67;
    max-width: 35em;
  }
  h4 {
    text-transform: uppercase;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
    .AboutWrapper__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 992px) {
    .section-center {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1200px) {
    .section-center {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
