.thayDoiMatKhauForm{
    margin-top:1rem;
    font-size:1rem;
    &__oldPassword,&__newPassword,&__ReNewPassword{
        margin-bottom:0.5rem;
        label{
            width:40%;
        }
        input{
            width:60%;
            padding-left:0.5rem;
        }
    }
}
.customFormGroup {
    font-family: 'Muli', sans-serif;
      position: relative;
      margin: 20px 0 40px;
      width: 300px;
      box-shadow: none;
      input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px #fff solid;
        display: block;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        color: #fff;
      }
      .customLabel {
        position: absolute;
        top: 5px;
        left: 0;
        pointer-events: none;
        transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
          transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
      input:focus {
        background-color: transparent;
        color: #fff;
        outline: 0;
        border-bottom-color: lightblue;
      }
      input:focus + .customLabel span,
      input:valid + .customLabel span{
        color: lightblue;
        transform: translateY(-30px);
      }
    }
    
    