.danhSachMovie__container--card{
    position: relative;
    width: 245px;
    .imgContainer{
        position: relative;
       
        margin-bottom:10px;
        height:300px;
        img{
            border-radius: 0.25rem;
            height:300px;
            width:100%;
        }
        .imgContainerOverplay{
            opacity: 0;
            background:transparent;
            transition: opacity 0.3s linear;
        }
        
    }
    &:hover .imgContainerOverplay{
        opacity: 1;
        background: linear-gradient(to bottom , rgba(0,0,0,0) , rgba(0,0,0,0.9));
      
       button{
           height:2.5rem;
           width:2.5rem;
           font-size:1rem;
       }
    }
    footer{
        position: relative;
        min-height: 50px;
        h3{
            font-size:1rem;
            text-transform: capitalize;
            font-weight: 700;
            word-spacing: 1px;
            span{
                display:inline-block;
                text-align:center;
                height:1.25em;
                width:2.25em;
                background:#fb4226;
                border-radius: 3px;
                color:white;
                font-size: 0.9rem;
                margin-right:0.25rem;
            }
        }
        p{
            font-size: 13px;
            color: #4a4a4a;
            padding-bottom: 15px;
            
        }
        .footerOverplay{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;

            opacity: 0;
            transition: opacity 0.3s linear;
            background:white;
            a{
                background:#fb4226;
                width:100%;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 700;
                border:none;
                
                padding:0.65rem 0;
            }
        }
    }
    &:hover .footerOverplay{
        opacity: 1;
    }
    .rate{
        position: absolute;
        top:1rem;
        right:1rem;
        background-color:#0c1b36cc;
        color:white;
        width:3.5rem;
        height:2.5rem;
        border: 1px solid #1f2e46;
        border-radius: 0.25rem;
        h4{
            font-size:1rem;
            line-height: 1;
            margin-bottom:0.25rem;
            text-align: center;
            
        }
        .star {
            line-height: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img{
                height:0.65rem;
                width:0.65rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .danhSachMovie__container--card{
       width:auto;
    }
}