.tabDanhGia{
    margin-top:1rem;
    background:white;
    padding:2rem 0;
    border-radius:0.25rem;
    max-width: 600px;
    .iconContainer{
        text-align: center;
        span{
            display: block;
            height: 3rem;
            width: 3rem;
            font-size: 2rem;
            margin: auto;
            background: gray;
            color: white;
            border-radius: 50%;
        }
    }
    .imgContainer{
        text-align: center;
        margin:0.5rem 0;
        button{
            background: transparent;
            border: transparent;
            opacity:0.5;
        }
        button.active{
            opacity: 1;
        }
        
    }
    textarea{
        border: 1px solid rgba(0,0,0,0.2);
        width: 100%;
        resize: none;
        padding:0.5rem;
        outline:none;
    }
}