.loginModal{
    opacity: 0;
    min-width:720px;
    color:white;
    background: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 6px;
    pointer-events: none;
   
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    button{
        width:100%;
        margin:0.5rem 0;
    }
    img{
        margin:auto;
        display: block;
    }
    p{
        text-align: center;
    }
}
.show{
    opacity: 1;
    pointer-events: all;
}