.MoviesWrapper {
  background: #f1f5f8;
  .SearchBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    button {
      border: transparent;
      background: transparent;
      text-transform: capitalize;
      color: #829ab0;
      padding: 0.25rem;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
      margin: 0.5rem;
      &.active {
        box-shadow: 0 1.5px 0 #829ab0;
      }
    }
  }

  .danhSachMovies {
    display: grid;
    place-items: center;
    place-content: center;
    .danhSachMovie__container--card {
      position: relative;
      .backgroundLinear {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, transparent 20%);

        display: flex;
        justify-content: center;
        align-items: center;

        button {
          border: 2px solid white;
          background: transparent;
          height: 5rem;
          width: 5rem;
          font-size: 2rem;
          color: white;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: all 0.2s linear;
        }
        &:hover button {
          opacity: 1;
        }
        &:hover button:hover {
          opacity: 0.7;
        }
      }

      width: 245px;
      .imgContainer {
        position: relative;

        margin-bottom: 10px;

        img {
          border-radius: 0.25rem;
          height: 300px;
          width: 100%;
        }
        .imgContainerOverplay {
          opacity: 0;
          background: transparent;
          transition: opacity 0.3s linear;
        }
      }
      &:hover .imgContainerOverplay {
        opacity: 1;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.9)
        );

        button {
          height: 2.5rem;
          width: 2.5rem;
          font-size: 1rem;
        }
      }
      footer {
        position: relative;
        min-height: 50px;
        h3 {
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 500;
          word-spacing: 1px;
          display: flex;
          align-items: center;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5em;
            width: 2.5em;
            background: #da8252;
            border-radius: 3px;
            color: white;
            font-size: 0.9rem;
            margin-right: 0.25rem;
          }
        }
        p {
          font-size: 13px;
          color: #4a4a4a;
          padding-bottom: 15px;
        }
        .footerOverplay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          opacity: 0;
          transition: opacity 0.3s linear;
          background: #f1f5f8;

          a {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            width: 100%;
            display: block;
            padding: 0.65rem 0;
          }
        }
      }
      &:hover .footerOverplay {
        opacity: 1;
      }
      .rate {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #0c1b36cc;
        color: white;
        width: 3.5rem;
        height: 2.5rem;
        border: 1px solid #1f2e46;
        border-radius: 0.25rem;
        h4 {
          font-size: 1rem;
          line-height: 1;
          margin-bottom: 0.25rem;
          text-align: center;
        }
        .star {
          line-height: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          img {
            height: 0.65rem;
            width: 0.65rem;
          }
        }
      }
    }
  }
  .SearchBox {
    max-width: 400px;
    margin: 0 auto 2rem;
    width: 90vw;
    form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3rem 3rem;
      input {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        outline-color: #dae2ec;
        border: transparent;
      }
      .SearchBox__submit {
        background: #617d98;
        color: white;
        border: transparent;
      }
      .SearchBox__close {
        background: #e66b6b;
        border: transparent;
        color: white;
      }
    }
  }
  @media screen and (min-width: 576px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr;
      .btnLoading {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  @media screen and (min-width: 900px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr 1fr;
      .btnLoading {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .btnLoading {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }
}
.SearchWrapper {
  .SearchBox {
    max-width: 400px;
    margin: 0 auto 2rem;
    width: 90vw;
    form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3rem 3rem;
      input {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        outline-color: #dae2ec;
        border: transparent;
      }
      .SearchBox__submit {
        background: #617d98;
        color: white;
        border: transparent;
      }
      .SearchBox__close {
        background: #e66b6b;
        border: transparent;
        color: white;
      }
    }
  }
  .SearchWrapper__grid {
    display: grid;
    gap: 2rem;
    h4 {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      padding: 1rem;
      margin-bottom: 0px;
    }
    article {
      border-radius: 0.25rem;
      background: white;
      img {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        width: 100%;
        height: 100%;
        display: block;
        height: 10rem;
      }
    }
  }
  @media screen and (min-width: 576px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 992px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (min-width: 1200px) {
    .danhSachMovies {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
.chiTietPhim {
  min-height: 100vh;
  padding: 4rem 0;

  .chiTietPhim__overplay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 700px;
    z-index: -1;
  }
  &__container {
    max-width: 870px;
    width: 90vw;
    margin: 0 auto;
    .TitleWrapper {
      color: white;
    }
    .lichChieu__container {
      color: white;
      display: grid;
      grid-template-columns: 200px 1fr;
      place-items: center;
      grid-gap: 1.5rem;
      gap: 1.5rem;
      .imgContainer img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        min-height: 260px;
      }
      .detailLichChieu {
        width: 100%;
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        .circleCol {
          text-align: center;
        }
        .ngayPhatHanh {
          font-size: 0.9rem;
          font-weight: 300;
          margin-bottom: 0.5rem;
          display: block;
        }
        h3 {
          display: flex;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5em;
            width: 2.5em;
            background: #ba5d2c;
            border-radius: 3px;
            color: #fff;
            font-size: 0.8em;
            margin-right: 0.25rem;
          }
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          font-size: 0.9rem;
          color: white;
          margin-top: 0.5rem;
        }
        .moTa {
          max-width: 40em;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: white;
          letter-spacing: 0.5px;
          line-height: 1.8;
        }
        .circle {
          position: relative;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          h4 {
            margin-bottom: 0;
            font-size: 3rem;
          }
          .player-container svg {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            pointer-events: none;
          }
        }
        .listStar {
          margin-top: 0.5rem;
        }
      }
    }
    .chiTietPhim__content {
      margin-top: 2rem;
      .TitleWrapper {
        h2 {
          font-size: 1.75rem;
        }
      }
      .chiTietPhim__filter {
        min-height: 60vh;
        background: white;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;
        .heThongWrapper {
          display: grid;
          grid-gap: 2rem;
          gap: 2rem;

          li {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 0px 1rem;
            gap: 0px 1rem;
            background: #f1f5f8;
            padding: 0.75rem 1rem;
            border-radius: 0.25rem;
            opacity: 0.6;
            align-items: center;
            cursor: pointer;
            h4 {
              margin: 0;
              font-weight: 500;
            }
            img {
              height: 50px;
              width: 50px;
            }
            &.active {
              opacity: 1;
            }
          }
        }
        .btnWrapperContainer {
          padding: 0.75rem 1rem;
          background: white;
          overflow-x: scroll;
          overflow-y: hidden;
          &::-webkit-scrollbar {
            height: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          display: flex;
          flex-direction: row;
          button {
            cursor: pointer;
            margin-right: 0.25rem;
            background: transparent;
            min-width: 5rem;
            text-align: center;
            border: none;
            font-weight: 600;
            line-height: 1.8;
            &.active {
              color: red;
            }
            h4 {
              font-size: 0.9rem;
              font-weight: 400;
            }
            span {
              font-weight: 300;
            }
          }
        }
        .btnWrapperContent {
          display: grid;
          gap: 2rem;
          padding: 0px 0.5rem;
          margin-top: 2rem;
        }
        .movieInfo {
          cursor: pointer;
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 0px 1rem;
          gap: 0px 1rem;
          background: #f1f5f8;
          padding: 0.75rem 1rem;
          border-radius: 0.25rem;
          align-items: center;
          .containerInFo {
            grid-column-start: 1;
            grid-column-end: 3;
            transition: all 0.3s linear;
            overflow: hidden;
            .movieInfoLichChieu {
              margin-top: 0.5rem;

              button {
                margin-top: 0.5rem;
                margin-right: 1rem;
              }
            }
          }

          h4 {
            margin-bottom: 0;
            font-weight: 500;
            text-transform: capitalize;
          }
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
// .chiTietPhim {
//   background: linear-gradient(to top, #0a2029, transparent 100%);
//   margin-top: 4rem;
//   padding: 4rem 0;
//   &__container {
//     width: 90%;
//     margin: auto;
//   }
//   &__overplay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     img {
//       object-fit: cover;
//       object-position: top center;
//       display: block;
//       height: 100%;
//       width: 100%;
//       filter: blur(8px) grayscale(50%);
//     }
//   }
// }

// @media only screen and (min-width: 993px) {
//   .chiTietPhim {
//     &__container {
//       width: 80%;
//       margin: auto;
//     }
//   }
// }
// @media only screen and (min-width: 1200px) {
//   .chiTietPhim {
//     &__container {
//       width: 70%;
//       margin: auto;
//     }
//   }
// }
