body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.checkOut{
  
  min-height:calc(100vh - 80px);
  background:white;
  color:black;
  width:100%;
  display:grid;
  grid-template-columns: 350px 1fr;
}
.checkOut__left{
  color:#e9e9e9;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.checkOut__left span{
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.checkOut__left h4{
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.checkOut__left h4 span{
  font-size: 0.75em;
  height:1em;
  width:2em;
  background-color: #fb4226;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
  line-height: 1;
}
.checkOut__left{
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/*
CHECKOUT
*/
.checkOut__right{
  padding-top:3rem;
}
.checkOut__right h2{
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}
.checkOut__right--card{
  width: 380px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 40px;
  border-radius: 5px;
}
.title{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.title span{
  font-size: 0.75em;
  height:1em;
  line-height: 1;
  width:2em;
  background-color: #fb4226;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
}
.detail{
  display:grid;
  grid-template-columns: 1fr auto;
  gap:1rem;
  margin-bottom: 1rem;
}
.detail span{
  color:#9b9b9b;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top:0.25rem;
  display:block;
  line-height: 1.5;
}
.detail img{
  height:50px;
  width:50px;
}
.detailRap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  align-items: center;
}
.detailRap h4,.numberGhe h4{
  margin-bottom:0.25rem;
  
}
.cardLine{
  border:1px dashed rgba(0,0,0,0.2);
 margin:1.5rem 0;
  border-bottom: none;
}
.maVe{
  display:grid;
  grid-template-columns: auto 1fr;
  gap:1rem;
  align-items: center;
}
.maVe img{
  height:128px;
  width:128px;
}
.maVeDetail span{
  margin-bottom:0.5rem;
  letter-spacing: 1px;
}
.maVeDetail .codeVe{
  color:red;
  font-weight: 500;
}
.warning{
  margin-top:1rem;
  font-weight: 400;
}
.btnHome{
  cursor: pointer;
  text-align: center;
  margin: auto;
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 18px;
  color: #4a4a4a;
  width: 320px;
  height: 60px;
  margin-top: 15px;
  text-transform: capitalize;
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  
}
.btnHome:hover{
  background-color: darkred;
  color:white
}
.warning{
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color:#9b9b9b;
}
.hotline{
  margin-top: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hotline h1{
  font-weight: 500;
  font-size: 2.5rem;
}
.hotlineText h4{
  font-weight: 400;
  color:#9b9b9b;
  text-align: right;
}
.hotlineText small{
  color:red;
}
