.auth {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  .background {
    background: url("https://images.unsplash.com/photo-1556745757-8d76bdb6984b")
      no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    filter: blur(20px);
  }
  .adminform {
    text-align: center;
    padding: 2.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    background: white;
    button {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: transparent;
      background: skyblue;
      color: darkslategray;
      cursor: pointer;
    }
    h1 {
      margin: 0;
      font-size: 1.875rem;
      font-weight: inherit;
      text-transform: capitalize;
    }
    .form-control {
      text-align: left;
      margin: 1rem 0;
      label {
        color: #1a202c;
      }
      input {
        display: block;
        padding: 0.5rem;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        border-style: solid;
        border-color: #e2e8f0;
        border-width: 1px;
      }
    }
  }
}
